= render 'shared/error_messages', obj: @movie

= form_for @movie, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :title, class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :title, class: 'form-control', autofocus: true

  .form-group
    = f.label :aka, 'Also Known As', class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :aka, class: 'form-control'

  - unless @movie.new_record?
    .form-group
      = f.label :permalink, class: 'control-label col-sm-3 col-lg-2'

      .col-sm-9.col-lg-10
        = f.text_field :permalink, class: 'form-control'

    .form-group
      = f.label :sort_title, 'Sort Title', class: 'control-label col-sm-3 col-lg-2'

      .col-sm-9.col-lg-10
        = f.text_field :sort_title, class: 'form-control'

  .form-group
    = f.label :imdb_url, 'IMDb', class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :imdb_url, class: 'form-control'

  .form-group
    = f.label :year, class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :year, class: 'form-control'

  .form-group
    = f.label :runtime, class: 'control-label col-sm-3 col-lg-2'
  
    .col-sm-9.col-lg-10
      = f.text_field :runtime, class: 'form-control'

  .form-group
    = f.label :rating, class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.select :rating, 0..10, {}, class: 'form-control'

  .form-group
    = f.label :synopsis, class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_area :synopsis, class: 'form-control', rows: 10

  .form-group
    = f.label :rotten_tomatoes_url, 'Rotten Tomatoes', class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :rotten_tomatoes_url, class: 'form-control'

  .form-group
    = f.label :movie_poster_db_url, 'Movie Poster DB', class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :movie_poster_db_url, class: 'form-control'

  .form-group
    = f.label :poster_url, 'Poster URL', class: 'control-label col-sm-3 col-lg-2'

    .col-sm-9.col-lg-10
      = f.text_field :poster_url, class: 'form-control'

      - if @movie.poster?
        %br
        %br
        = image_tag @movie.poster.url(:original), width: 150, height: 220

  - unless @movie.new_record?
    = render 'movies/edit/genre_checkboxes', movie: @movie

  %hr

  .form-group
    .col-sm-offset-3.col-lg-offset-2.col-sm-9.col-lg-10
      = f.submit 'Submit', class: 'btn btn-primary btn-lg', disable_with: 'Submitting...'
