= render 'shared/error_messages', obj: @movie

= form_with model: @movie do |f|
  .form-group.row
    = f.label :title, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :title, class: 'form-control', autofocus: true

  .form-group.row
    = f.label :aka, 'Also Known As', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :aka, class: 'form-control'

  - unless @movie.new_record?
    .form-group.row
      = f.label :permalink, class: 'col-form-label font-weight-bold text-right col-sm-2'

      .col-sm-10
        = f.text_field :permalink, class: 'form-control'

    .form-group.row
      = f.label :sort_title, 'Sort Title', class: 'col-form-label font-weight-bold text-right col-sm-2'

      .col-sm-10
        = f.text_field :sort_title, class: 'form-control'

  .form-group.row
    = f.label :imdb_url, 'IMDb', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :imdb_url, class: 'form-control'

  .form-group.row
    = f.label :year, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :year, class: 'form-control'

  .form-group.row
    = f.label :runtime, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :runtime, class: 'form-control'

  .form-group.row
    = f.label :rating, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.select :rating, 0..10, {}, class: 'form-control'

  .form-group.row
    = f.label :synopsis, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_area :synopsis, class: 'form-control', rows: 10

  .form-group.row
    = f.label :rotten_tomatoes_url, 'Rotten Tomatoes', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :rotten_tomatoes_url, class: 'form-control'

  .form-group.row
    = f.label :movie_poster_db_url, 'Movie Poster DB', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :movie_poster_db_url, class: 'form-control'

  .form-group.row
    = f.label :poster_url, 'Poster URL', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :poster_url, class: 'form-control'

      - if @movie.poster?
        %br
        = image_tag @movie.poster.url(:original), width: 150, height: 220

      - if @movie.new_record? && @movie.poster_url.present?
        %br
        = link_to @movie.poster_url, target: '_blank' do
          = image_tag @movie.poster_url, width: 150, height: 220

  - unless @movie.new_record?
    = render 'movies/edit/genre_checkboxes', movie: @movie

  %hr

  .form-group.row
    .offset-sm-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary btn-lg'
