.form-group
  = hidden_field_tag 'movie[genre_list][]', nil, id: 'movie_genre_list_blank'

  = label_tag 'Genres', 'Genres', class: 'control-label col-sm-3 col-lg-2'

  .col-sm-9.col-lg-10
    - Movie::GENRES.in_groups_of(4) do |genres|
      .row
        - genres.each do |genre|
          - next if genre.blank?

          .col-sm-3.col-xs-6
            = label_tag nil, class: 'checkbox-inline' do
              = check_box_tag 'movie[genre_list][]', genre, movie.genre_list.include?(genre), id: "movie_genre_#{genre.downcase.underscore}"

              %span
                = genre
