.admin-controls
  = link_to item_lists_path, class: 'btn btn-default btn-lg', rel: 'nofollow' do
    = icon 'arrow-left'

  = link_to new_item_list_listing_path(@list), class: 'btn btn-success btn-lg', title: 'Add Listing', rel: 'nofollow' do
    = icon 'plus-circle'

  = link_to [:edit, @list], class: 'btn btn-info btn-lg', title: 'Edit' do
    = icon :edit

  = link_to @list, class: 'btn btn-danger btn-lg', title: 'Delete', rel: 'nofollow', method: 'delete', data: { confirm: CONFIRM } do
    = icon 'trash-o'
