= form_for :session, :url => sessions_path do |f|
  .field
    = f.label :password
    %br
    = f.password_field :password, :class => 'title', :autofocus => true

  .actions
    = f.submit 'Submit', :id => 'ajax_button', :disable_with => 'Submitting...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif', :width => 16, :height => 11
