= render 'shared/error_messages', obj: @listing

= form_with model: [@list, @listing] do |f|
  = f.hidden_field :item_list_id, value: @list.id

  .form-group.row
    = f.label :movie_id, 'Movie', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      - @movies = Movie.select([:id, :title]).order(:sort_title)
      = collection_select :listing, :movie_id, @movies, :id, :title, { include_blank: true }, { class: 'form-control' }

  %hr

  .form-group.row
    .offset-sm-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary btn-lg'
