%div{:id => "#{credit_type}_credits"}
  %h3
    #{job}: #{@person.send("number_of_#{credit_type}_credits")}

  %ul
    - @person.send("sorted_#{credit_type}_credits").each do |credit|
      %li
        = link_to credit.movie.title, credit.movie
        (#{credit.movie.year})
        - unless credit.details.blank?
          = '...'
          = credit.details
        - if action_name == 'edit'
          |
          = link_to 'Delete', [@person, credit], :confirm => 'Are you sure?', :method => :delete
  %hr
