%div.info_section{:id => "#{credit_type}_credits"}
  - average = format '%.2f', @person.send("#{credit_type}_credits").average(:rating)
  %h3 #{job} (#{count}) (#{average}/10)
  %table
    - @person.send("sorted_#{credit_type}_credits").each do |credit|
      %tr
        %td.main_cell
          = tiny_movie_poster_link credit.movie, job
          = link_to credit.movie.title, credit.movie
          (#{credit.movie.year})
        %td.ellipsis
          = '...' unless credit.details.blank?
        %td
          = credit.details
        %td.numeric
          #{colorized_rating credit.movie}<strong>/10</strong>
        - if action_name == 'edit'
          %td.delete
            = link_to 'Delete', [@person, credit], :confirm => CONFIRM, :method => :delete
