= render 'shared/error_messages', :object => @person

= form_for @person do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name, :class => 'title', :autofocus => true

  - unless @person.new_record?
    .field
      = f.label :permalink
      %br
      = f.text_field :permalink

    .field
      = f.label :sort_name, 'Sort Name'
      %br
      = f.text_field :sort_name

  .field
    = f.label :imdb_url, 'IMDB'
    %br
    = f.text_field :imdb_url

  .actions
    = f.submit 'Submit', :id => 'ajax_button', :disable_with => 'Submitting...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif'

%br
