- smart_cache do
  = render 'shared/page_entries_info', :results => @people, :type => 'person'

  - unless @people.total_count.zero?
    = paginate @people, :remote => true

    %table#ajax-table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:style => 'width: 15px;'} #
          %th= sort_link :name
          %th{:style => 'width: 65px;'}= sort_link :credits
          %th{:style => 'width: 75px;'}= sort_link :directing
          %th{:style => 'width: 65px;'}= sort_link :writing
          %th{:style => 'width: 90px;'}= sort_link :composing
          %th{:style => 'width: 65px;'}= sort_link :editing
          %th{:style => 'width: 125px;'}= sort_link :cinematography
          %th{:style => 'width: 65px;'}= sort_link :acting

      %tbody
        - @people.each_with_index do |person, i|
          %tr
            %td= i + 1
            %td= link_to person.name, person, :class => 'person-link'
            %td= person.credits_count
            %td= person.number_of_directing_credits
            %td= person.number_of_writing_credits
            %td= person.number_of_composing_credits
            %td= person.number_of_editing_credits
            %td= person.number_of_cinematography_credits
            %td= person.number_of_acting_credits

    = paginate @people, :remote => true
