- smart_cache do
  = render 'shared/page_entries_info', results: @people, type: 'person'

  - unless @people.total_count.zero?
    %hr

    = paginate @people, remote: true

    .table-responsive
      %table.table.table-bordered.table-hover
        %thead.thead-light
          %tr
            %th.text-right
              %strong #

            %th.w-100
              = sort_link :name

            %th.text-nowrap
              = sort_link :credits

            %th.text-nowrap
              = sort_link :directing, :bullhorn

            %th.text-nowrap
              = sort_link :writing, :pencil

            %th.text-nowrap
              = sort_link :composing, :music

            %th.text-nowrap
              = sort_link :editing, :cut

            %th.text-nowrap
              = sort_link :cinematography, 'video-camera'

            %th.text-nowrap
              = sort_link :acting, :user

        %tbody
          - @people.each_with_index do |person, i|
            %tr
              %td.text-right
                = row_number i

              %td
                = link_to person.name, person, class: 'person-link'

              %td
                = person.credits_count

              %td
                = person.number_of_directing_credits

              %td
                = person.number_of_writing_credits

              %td
                = person.number_of_composing_credits

              %td
                = person.number_of_editing_credits

              %td
                = person.number_of_cinematography_credits

              %td
                = person.number_of_acting_credits

    = paginate @people, remote: true
