= page_header do
  %h1
    = link_to 'People', people_path
    %span.divider /
    = link_to @person.name, @person
    %span.divider /
    Charts

- smart_cache  do
  = movie_credits_column_chart @person

  %hr

  = movie_ratings_pie_chart @person

  %hr

  = movie_genres_bar_chart @person
