= page_header do
  %h1
    = link_to 'People', people_path
    %span.divider /
    = link_to @person.name, @person
    %span.divider /
    Charts

- smart_cache  do
  = page_header do
    %h4 Movie History

  = line_chart @person.movie_history

  %br

  = page_header do
    %h4 Ratings History

  = pie_chart @person.movie_ratings_history
