= render 'people/edit/admin_controls'

= page_header do
  %h1
    = link_to 'People', people_path

    %span.divider /

    = link_to @person.name, @person

    %span.divider /

    Edit

= render 'people/edit/form'

- smart_cache 'credits' do
  %hr

  = render 'people/show/credits'
