- content_for :admin_controls do
  = link_to 'Back', @person, :class => 'button'
  = link_to 'Delete', @person, :confirm => CONFIRM, :method => :delete, :class => 'button'

%h1 Editing "#{@person.name}"

= render 'form'

%hr

- smart_cache 'credits' do
  = render 'credits'
