= page_header do
  %h1
    = link_to 'People', people_path
    %span.divider /
    = link_to @person.name, @person
    %span.divider /
    Graphs

- smart_cache  do
  = page_header do
    %h4 Movie History

  = movie_history_line_graph @person

  %br

  = page_header do
    %h4 Ratings History

  = movie_ratings_pie_graph @person
