= render 'shared/search_form', :target => people_path

= render 'shared/page_entries_info', :results => @people

- unless @people.empty?
  = will_paginate @people

  %table#people
    %tr
      %th= sort_link :name
      %th= sort_link :credits
      %th= sort_link :directing
      %th= sort_link :writing
      %th= sort_link :composing
      %th= sort_link :editing
      %th= sort_link :cinematography
      %th= sort_link :acting

    - @people.each do |person|
      %tr
        %td= link_to person.name, person
        %td= person.credits_count
        %td= person.number_of_directing_credits
        %td= person.number_of_writing_credits
        %td= person.number_of_composing_credits
        %td= person.number_of_editing_credits
        %td= person.number_of_cinematography_credits
        %td= person.number_of_acting_credits

  = will_paginate @people
