- content_for :admin_controls do
  = link_to 'Edit', [:edit,  @person], :class => 'button'
  = link_to 'Add Credit', new_person_credit_path(@person), :class => 'button'
  = link_to 'Delete', @person, :confirm => CONFIRM, :method => :delete, :class => 'button'

.page-header
  %h1
    = link_to 'People', people_path
    %span.divider /
    = @person.name

- smart_cache do
  = render 'people/show/header'

  = render 'people/show/tags'

  = render 'people/show/credits'

  = render 'people/show/frequent_collaborators'
