= render 'people/show/admin_controls'

.page-header
  %h1
    = link_to 'People', people_path
    %span.divider /
    = @person.name

- smart_cache do
  = render 'people/show/header'

  = render 'people/show/tags'

  = render 'people/show/credits'

  = render 'people/show/frequent_collaborators'
