%h2= @person.name

%p= link_to 'IMDB', @person.imdb_url

= render 'credits'

- if admin?
  = link_to 'Edit', [:edit, @person]
  \|
  = link_to 'Delete', @person, :confirm => 'Are you sure?', :method => :delete
