- content_for :admin_controls do
  = link_to 'Edit', [:edit,  @person], :class => 'button'
  = link_to 'Add Credit', new_person_credit_path(@person), :class => 'button'
  = link_to 'Delete', @person, :confirm => CONFIRM, :method => :delete, :class => 'button'

- smart_cache 'details' do
  %h2= @person.name

  %span.icons
    = link_to image_tag('icons/imdb-icon.png', :title => 'IMDb'), @person.imdb_url, :rel => :external, :class => 'imdb'

- smart_cache 'tags' do
  #tags.info_section
    %h3 Tags

    - total = @person.movies.length

    %span{:class => 'tag_label'} Genres:
    - last = @person.relevant_genres.length - 1
    - @person.relevant_genres.each_with_index do |genre, i|
      = tag_link genre, :genre
      .percentage_stat
        - percentage = format('%.2f%', genre.count / total.to_f * 100)
        #{genre.count}/#{total}
        %span.percentage= percentage
      - unless i == last
        |
    %hr

    %span{:class => 'tag_label'} Languages:
    - last = @person.relevant_languages.length - 1
    - @person.relevant_languages.each_with_index do |language, i|
      = tag_link language, :language
      .percentage_stat
        - percentage = format('%.2f%', language.count / total.to_f * 100)
        #{language.count}/#{total}
        %span.percentage= percentage
      - unless i == last
        |
    %hr

    %span{:class => 'tag_label'} Countries:
    - last = @person.relevant_countries.length - 1
    - @person.relevant_countries.each_with_index do |country, i|
      = tag_link country, :country
      .percentage_stat
        - percentage = format('%.2f%', country.count / total.to_f * 100)
        #{country.count}/#{total}
        %span.percentage= percentage
      - unless i == last
        |
    %hr

    #relevant_keywords
      %span{:class => 'tag_label'} Keywords:
      - @person.relevant_keywords.each do |keyword|
        = tag_link keyword, :keyword
        .percentage_stat
          - percentage = format('%.2f%', keyword.count / total.to_f * 100)
          #{keyword.count}/#{total}
          %span.percentage= percentage
        |
      = link_to 'More Keywords &raquo;'.html_safe, keywords_person_path(@person), :class => 'more'

- smart_cache 'credits' do
  = render 'credits'

- smart_cache 'frequent_collaborators' do
  #frequent_collaborators.info_section
    %h3 Frequent Collaborators

    - total = @person.movies.length
    - last = @person.frequent_collaborators.length - 1

    - @person.frequent_collaborators.each_with_index do |person, i|
      = link_to person.name, person
      .percentage_stat
        - percentage = format('%.2f%', person.count / total.to_f * 100)
        #{person.count}/#{total}
        %span.percentage= percentage
      - unless i == last
        |

#movie_history_line_graph

- smart_cache 'movie_history_line_graph' do
  = render 'people/show/movie_history_line_graph'
