= render 'shared/error_messages', obj: @person

= form_with model: @person do |f|
  .form-group.row
    = f.label :name, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :name, class: 'form-control', autofocus: true

  .form-group.row
    = f.label :permalink, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :permalink, class: 'form-control'

  .form-group.row
    = f.label :sort_name, 'Sort Name', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :sort_name, class: 'form-control'

  .form-group.row
    = f.label :imdb_url, 'IMDb', class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :imdb_url, class: 'form-control'

  %hr

  .form-group.row
    .offset-sm-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary btn-lg', disable_with: 'Submitting...'
