%div{:id => "#{credit_type}_credits"}
  %table
    %th
      #{credit_type.capitalize} Credits (#{count})
    - @movie.send("sorted_#{credit_type}_credits").each do |credit|
      %tr
        %td.main_cell
          = link_to credit.person.name, credit.person
        %td.ellipsis
          = '...' unless credit.details.blank?
        %td
          = credit.details
        - if action_name == 'edit'
          %td.delete
            = link_to 'Delete', [credit.person, credit], :confirm => CONFIRM, :method => :delete
  %hr
