= render 'shared/error_messages', :object => @movie

= form_for @movie, :html => {:multipart => true} do |f|
  .field
    = f.label :title
    %br
    = f.text_field :title, :class => 'title', :autofocus => true

  .field
    = f.label :aka, 'Also Known As'
    %br
    = f.text_field :aka

  - unless @movie.new_record?
    .field
      = f.label :permalink
      %br
      = f.text_field :permalink

    .field
      = f.label :sort_title, 'Sort Title'
      %br
      = f.text_field :sort_title

  .field
    = f.label :imdb_url, 'IMDB'
    %br
    = f.text_field :imdb_url

  .field
    = f.label :year
    %br
    = f.text_field :year

  .field
    = f.label :runtime
    %br
    = f.text_field :runtime

  .field
    = f.label :rating
    %br
    = f.select :rating, 0..10

  .field
    = f.label :synopsis
    %br
    = f.text_area :synopsis

  .field
    = f.label :rotten_tomatoes_url, 'Rotten Tomatoes'
    %br
    = f.text_field :rotten_tomatoes_url

  .field
    = f.label :movie_poster_db_url, 'Movie Poster DB'
    %br
    = f.text_field :movie_poster_db_url

  .field
    = f.label :poster
    %br
    = f.file_field :poster
    %br
    = f.label :poster_url, 'Upload From URL:'
    %br
    = f.text_field :poster_url
    - if @movie.poster.exists?
      %br
      = image_tag @movie.poster.url(:original), :width => 150, :height => 220

  - unless @movie.new_record?
    .field
      = render 'genre_checkboxes', :movie => @movie

  .actions
    = f.submit 'Submit', :id => 'ajax_button', :disable_with => @movie.new_record? ? 'Scraping...' : 'Submitting...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif'

%br
