= render 'shared/error_messages', :object => @movie

= form_for @movie do |f|
  .field
    = f.label :title
    %br
    = f.text_field :title, :class => 'title', :autofocus => true

  .field
    = f.label :imdb_url, 'IMDB'
    %br
    = f.text_field :imdb_url

  .field
    = f.label :year
    %br
    = f.text_field :year

  .field
    = f.label :rating
    %br
    = f.select :rating, 0..10

  .actions
    = f.submit 'Submit'
