- smart_cache do
  = render 'shared/page_entries_info', results: @movies, type: 'movie'

  - unless @movies.total_count.zero?
    %hr

    = paginate @movies, remote: true

    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th.text-right{style: 'width: 40px;'}
              %strong #

            %th
              = sort_link :title

            %th{style: 'width: 65px;'}
              = sort_link :year

            %th{style: 'width: 95px;'}
              = sort_link :runtime

            %th{style: 'width: 80px;'}
              = sort_link :rating

        %tbody
          - @movies.each_with_index do |movie, i|
            %tr
              %td.text-right
                = row_number i

              %td
                = tiny_movie_poster_link movie
                = link_to movie.title, movie, class: 'movie-link'

              %td
                = movie.year

              %td
                = movie.runtime

              %td
                = colorized_rating movie

    = paginate @movies, remote: true
