- smart_cache do
  = render 'shared/page_entries_info', :results => @movies, :type => 'movie'

  - unless movies.empty?
    = will_paginate movies

    %table#movies
      %tr
        %th= sort_link :title
        %th.numeric= sort_link :year
        %th.numeric= sort_link :runtime
        %th.numeric= sort_link :rating

      - movies.each do |movie|
        %tr
          %td= link_to movie.title, movie
          %td.numeric= movie.year
          %td.numeric= movie.runtime
          %td.numeric= movie.rating

    = will_paginate movies
