- content_for :admin_controls do
  = link_to 'Delete', @movie, :confirm => 'Are you sure?', :method => :delete, :class => 'button'

%h2 Editing "#{@movie.title}"

= render 'form'

%hr

= render 'credits'

= link_to 'Back', @movie
