= render 'movies/edit/admin_controls'

.page-header
  %h1
    = link_to 'Movies', movies_path
    %span.divider /
    = link_to @movie.full_title, @movie
    %span.divider /
    Edit

= render 'movies/edit/form'

- smart_cache 'credits' do
  = render 'movies/show/credits'
