= form_tag scrape_info_path do
  .field
    = label_tag :imdb_url, 'IMDB'
    %br
    = text_field_tag :imdb_url, nil, :class => 'title', :autofocus => true

  .actions
    = submit_tag 'Submit', :id => 'ajax_button', :disable_with => 'Scraping...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif', :width => 16, :height => 11
