= page_entries_info @movies

- unless @movies.empty?
  = will_paginate @movies

  %table#movies
    %tr
      %th= sort_link :title
      %th= sort_link :year
      %th= sort_link :runtime
      %th= sort_link :rating

    - @movies.each do |movie|
      %tr
        %td= link_to movie.title, movie
        %td= movie.year
        %td= movie.runtime
        %td= movie.rating

  = will_paginate @movies
