- content_for :search do
  = render 'shared/search_form', :target => search_movies_path, :type => 'movie'

= render 'tabs'

.page-header
  %h1
    = link_to 'Movies', movies_path
    %span.divider /
    Perfect Movies

#perfect-movies
  - @movies.each do |movie|
    .item
      = link_to movie, :class => 'perfect-movie-link' do
        = image_tag movie.poster.url(:large), :width => 300, :height => 420
      .caption
        %h4
          = link_to movie.full_title, movie
