- content_for :search do
  = render 'shared/search_form', target: search_movies_path, type: 'movie'

= render 'tabs'

= page_header do
  %h1
    = link_to 'Movies', movies_path

    %span.divider /

    Perfect Movies

#perfect-movies
  - @movies.each do |movie|
    .perfect-movie
      = link_to movie do
        = image_tag movie.poster.url(:medium), width: 158, height: 218, class: 'img-thumbnail'

      .caption
        = link_to movie.full_title, movie
