= render 'movies/show/admin_controls'

= page_header do
  %h1
    = link_to 'Movies', movies_path

    %span.divider /

    = @movie.full_title

    - unless @movie.aka.blank?
      %small.aka
        aka
        = @movie.aka

= render 'movies/show/header'

%hr

= render 'movies/show/keywords'

= render 'movies/show/credits'
