- content_for :admin_controls do
  = link_to 'Edit', [:edit, @movie], :class => 'button'
  = link_to 'Delete', @movie, :confirm => CONFIRM, :method => :delete, :class => 'button'

- smart_cache 'details' do
  %h2= @movie.title

  - unless @movie.aka.blank?
    %em aka #{@movie.aka}
    %br
  %br

  %p= link_to 'IMDB', @movie.imdb_url

  - unless @movie.rotten_tomatoes_url.blank?
    %p= link_to 'Rotten Tomatoes', @movie.rotten_tomatoes_url

  %p= @movie.year

  %p #{@movie.runtime} min

  %p #{@movie.rating}/10

  #synopsis
    = @movie.synopsis
  %br

- smart_cache 'related' do
  %h2 Related Movies
  - @movie.related_movies.shuffle.each do |movie|
    = link_to movie.title, movie
    %br

- smart_cache 'credits' do
  = render 'credits'

- smart_cache 'tags' do
  %h3 Genres

  %ul
    - @movie.genres.order(:name).each do |genre|
      %li= tag_link genre, :genre

  %h3 Languages

  %ul
    - @movie.languages.order(:name).each do |language|
      %li= tag_link language, :language

  %h3 Countries

  %ul
    - @movie.countries.order(:name).each do |country|
      %li= tag_link country, :country

  %h3 Keywords

  %ul
    - @movie.keywords.order(:name).each do |keyword|
      %li= tag_link keyword, :keyword
