- content_for :admin_controls do
  = link_to 'Edit', [:edit, @movie], :class => 'button'
  = link_to 'Delete', @movie, :confirm => CONFIRM, :method => :delete, :class => 'button'

.page-header
  %h1
    = link_to 'Movies', movies_path
    %span.divider /
    = @movie.full_title
    - unless @movie.aka.blank?
      %small.aka aka #{@movie.aka}

- smart_cache do
  = render 'movies/show/header'

  = render 'movies/show/keywords'

  = render 'movies/show/credits'
