- content_for :admin_controls do
  = link_to 'Edit', [:edit, @movie], :class => 'button'
  = link_to 'Delete', @movie, :confirm => CONFIRM, :method => :delete, :class => 'button'

- smart_cache 'details' do
  %h2= @movie.title

  - unless @movie.aka.blank?
    %em aka #{@movie.aka}
    %br

  %p= link_to 'IMDB', @movie.imdb_url

  - unless @movie.rotten_tomatoes_url.blank?
    %p= link_to 'Rotten Tomatoes', @movie.rotten_tomatoes_url

  %p= @movie.year

  %p #{@movie.runtime} min

  %p #{@movie.rating}/10

#synopsis.info_section
  %h3 Synopsis
  %p= @movie.synopsis

- smart_cache 'tags' do
  #tags.info_section
    %h3 Tags

    %span{:class => 'tag_label'} Genres:
    = raw @movie.genres.order(:name).map { |genre| tag_link genre, :genre }.join ' | '
    %hr

    %span{:class => 'tag_label'} Languages:
    = raw @movie.languages.order(:name).map { |language| tag_link language, :language }.join ' | '
    %hr

    %span{:class => 'tag_label'} Countries:
    = raw @movie.countries.order(:name).map { |country| tag_link country, :country }.join ' | '
    %hr

    %span{:class => 'tag_label'} Keywords:
    = raw @movie.relevant_keywords.map { |keyword| tag_link keyword, :keyword }.join ' | '
    = ' | '
    = link_to 'More Keywords &raquo;'.html_safe, keywords_movie_path(@movie), :class => 'more'

- smart_cache 'related' do
  #related_movies.info_section
    %h3 Related Movies
    = raw @movie.related_movies.shuffle.map { |movie| link_to movie.title, movie }.join ' | '

- smart_cache 'credits' do
  = render 'credits'
