- content_for :admin_controls do
  = link_to 'Edit', [:edit, @movie], :class => 'button'
  = link_to 'Delete', @movie, :confirm => 'Are you sure?', :method => :delete, :class => 'button'

%h2= @movie.title

- unless @movie.aka.blank?
  %em aka #{@movie.aka}
  %br
%br

%p= link_to 'IMDB', @movie.imdb_url

- unless @movie.rotten_tomatoes_url.blank?
  %p= link_to 'Rotten Tomatoes', @movie.rotten_tomatoes_url

%h3 Directed by:

%ul
  - @movie.directing_credits.joins(:person).order(:name).each do |credit|
    %li
      = link_to credit.person.name, credit.person
      - unless credit.details.blank?
        = '...'
        = credit.details

%p= @movie.year

%p #{@movie.runtime} min

%p #{@movie.rating}/10

#synopsis
  = @movie.synopsis
%br

%h3 Genres

%ul
  - @movie.genres.each.map(&:name).sort.each do |genre|
    %li= genre

%h3 Languages

%ul
  - @movie.languages.each.map(&:name).sort.each do |language|
    %li= language

%h3 Countries

%ul
  - @movie.countries.each.map(&:name).sort.each do |country|
    %li= country

%h3 Keywords

%ul
  - @movie.keywords.each.map(&:name).sort.each do |keyword|
    %li= keyword
