%h2= @movie.title

%h3 Main Details
%p= link_to 'IMDB', @movie.imdb_url
%p= @movie.year
%p #{@movie.runtime} min
%p #{@movie.rating}/10

#synopsis
  = @movie.synopsis
%br

%h3 Genres

%ul
  - @movie.genres.each.map(&:name).sort.each do |genre|
    %li= genre

%h3 Languages

%ul
  - @movie.languages.each.map(&:name).sort.each do |language|
    %li= language

%h3 Countries

%ul
  - @movie.countries.each.map(&:name).sort.each do |country|
    %li= country

%h3 Keywords

%ul
  - @movie.keywords.each.map(&:name).sort.each do |keyword|
    %li= keyword

%hr

- if admin?
  = link_to 'Edit', edit_movie_path(@movie)
  \|
  = link_to 'Delete', @movie, :confirm => 'Are you sure?', :method => :delete