%h2= @movie.title
%p= link_to 'IMDB', @movie.imdb_url
%p= @movie.year
%p #{@movie.runtime} min
%p #{@movie.rating}/10
%hr

= link_to 'Edit', edit_movie_path(@movie)
\|
= link_to 'Delete', @movie, :confirm => 'Are you sure?', :method => :delete