- movies = @person.movies.order('year DESC, sort_title DESC')

#person-carousel.carousel.slide
  .carousel-inner
    - movies.each_with_index do |movie, i|
      .item{class: i == 0 ? 'active' : nil}
        = image_tag movie.poster.url(:large), class: 'img-thumbnail'

  - if movies.length > 1
    = link_to '#person-carousel', class: 'carousel-control left', data: { slide: 'prev' } do
      = icon 'chevron-left'

    = link_to '#person-carousel', class: 'carousel-control right', data: { slide: 'next' } do
      = icon 'chevron-right'
