.table-responsive
  %table.table.table-bordered
    %thead.thead-light
      %tr
        - average = @person.send("#{credit_type}_credits").joins(:movie).average(:rating)

        %th.w-50
          = job
          = "(#{count})"

        %th.w-50
          Credit

        %th
          .text-weight-bold
            = "#{colorized_credit_average average}/10".html_safe

        - if action_name == 'edit'
          %th

    %tbody
      - @person.send("sorted_#{credit_type}_credits").each do |credit|
        %tr
          %td
            = tiny_movie_poster_link credit.movie, job

            = link_to credit.movie.title, credit.movie

            = "(#{credit.movie.year})"

          %td
            = credit.details.blank? ? '...' : credit.details

          %td.text-right.font-weight-bold
            = "#{colorized_rating credit.movie}/10".html_safe

          - if action_name == 'edit'
            %td
              = link_to [@person, credit], class: 'btn btn-danger btn-sm', title: 'Delete', method: 'delete', data: { confirm: t(:confirm) } do
                = icon 'trash-o'
