.panel.panel-default{id: "#{credit_type}-credits"}
  .panel-heading
    %h3.panel-title
      - average = @person.send("#{credit_type}_credits").joins(:movie).average(:rating)
      = job
      = "(#{count})"

      %strong.pull-right
        = "#{colorized_credit_average average}/10".html_safe

  .table-responsive
    %table.table.table-bordered
      %tbody
        - @person.send("sorted_#{credit_type}_credits").each do |credit|
          %tr
            %td
              = tiny_movie_poster_link credit.movie, job

              = link_to credit.movie.title, credit.movie

              = "(#{credit.movie.year})"

            - if credit.details.present?
              %td
                = credit.details

            %td.credit-rating
              %strong
                = "#{colorized_rating credit.movie}/10".html_safe

            - if action_name == 'edit'
              %td.delete-cell
                = link_to [@person, credit], class: 'btn btn-danger btn-xs', title: 'Delete', method: 'delete', data: { confirm: CONFIRM } do
                  = icon 'trash-o'
