.row#person-header
  .col-sm-4#person-carousel-wrapper
    = render 'people/show/carousel'

  .col-sm-8
    .rating.well{class: person_rating_class(@person), title: 'Weighted Score', alt: 'Weighted Score'}
      #{@person.score}/10

    .icons
      %ul.list-unstyled
        %li
          = approval_icon(@person)

          %span
            = colorized_approval_percentage(@person)
            approval

        %li
          = image_tag 'icons/film-32x32.png', title: 'Movies', width: 32, height: 32

          %span
            = pluralize(@person.movies.length, 'movie')

        - perfect_count = @person.movies.where(rating: 10).length
        - if perfect_count > 0
          %li
            = image_tag 'icons/medal-gold-32x32.png', title: 'Perfect Movies (Rated 10)', width: 32, height: 32

            %span
              = pluralize perfect_count, 'perfect movie'

        - excellent_count = @person.movies.where(rating: 9).length
        - if excellent_count > 0
          %li
            = image_tag 'icons/medal-silver-32x32.png', title: 'Excellent Movies (Rated 9)', width: 32, height: 32

            %span
              = pluralize excellent_count, 'excellent movie'

        - great_count = @person.movies.where(rating: 8).length
        - if great_count > 0
          %li
            = image_tag 'icons/medal-bronze-32x32.png', title: 'Perfect Movies (Rated 8)', width: 32, height: 32

            %span
              = pluralize great_count, 'great movie'

        - terrible_count = @person.movies.where('rating < 5').length
        - if terrible_count > 0
          %li
            = image_tag 'icons/exclamation-32x32.png', title: 'Terrible Movies (Rated 4 or lower)', width: 32, height: 32

            %span
              = pluralize terrible_count, 'terrible movie'

        - if @person.number_of_directing_credits > 0
          %li
            = image_tag 'icons/events-32x32.png', title: 'Director', width: 32, height: 32

            Director

        - if @person.number_of_writing_credits > 0
          %li
            = image_tag 'icons/document-prepare-32x32.png', title: 'Writer', width: 32, height: 32

            Writer

        - if @person.number_of_composing_credits > 0
          %li
            = image_tag 'icons/music-32x32.png', title: 'Composer', width: 32, height: 32

            Composer

        - if @person.number_of_editing_credits > 0
          %li
            = image_tag 'icons/edit-free-32x32.png', title: 'Editor', width: 32, height: 32

            Editor

        - if @person.number_of_cinematography_credits > 0
          %li
            = image_tag 'icons/video-32x32.png', title: 'Cinematographer', width: 32, height: 32

            Cinematographer

        - if @person.number_of_acting_credits > 0
          %li
            = image_tag 'icons/user-32x32.png', title: 'Actor', width: 32, height: 32

            Actor

      %hr

      %ul.list-unstyled
        %li
          = link_to charts_person_path(@person) do
            = image_tag 'icons/chart-curve-32x32.png', title: 'Charts', width: 32, height: 32

          = link_to 'Charts', charts_person_path(@person)

        %li
          = link_to @person.imdb_url, class: 'imdb', rel: 'external' do
            = image_tag 'icons/imdb-icon-32x32.png', title: 'IMDb', width: 32, height: 32

          = link_to 'IMDb', @person.imdb_url
