= form_with url: target, method: 'get', class: 'form-inline mx-auto flex-fill mt-2 mt-md-0 ' do
  = hidden_field_tag 'type', type.pluralize

  .input-group.w-100
    = text_field_tag :q, params[:q].blank? ? nil : params[:q], autofocus: true, placeholder: "Search #{type.pluralize}...", class: 'form-control'

    .input-group-append
      = button_tag icon(:search), class: 'btn btn-secondary'
