= form_with url: target, method: 'get', class: 'form-inline' do
  = hidden_field_tag 'type', type.pluralize

  = text_field_tag :q, params[:q].blank? ? nil : params[:q], placeholder: "Search #{type.pluralize}...", class: 'form-control'

  .input-group.mx-0.mx-sm-2.mt-2.mt-sm-0.mb-2.mb-sm-0
    .input-group-prepend
      .input-group-text
        Total >=

    = text_field_tag :minimum, params[:minimum], placeholder: '0', class: 'form-control'

  = submit_tag 'Filter', class: 'btn btn-secondary'

%hr
