= form_tag target, :method => :get,
  :id => 'filter-form',
  :class => 'form-inline' do
  = hidden_field_tag 'type', type.pluralize
  = text_field_tag :q, params[:q].blank? ? nil : params[:q],
    :placeholder => "Search #{type.pluralize}..."
  = label_tag :minimum, 'Total >='
  = text_field_tag :minimum, params[:minimum],
    :placeholder => '0',
    :id => 'minimum_total',
    :class => 'span1'
  = submit_tag 'Filter',
    :class => 'btn loading',
    :data => { :'loading-text' => 'Filtering...' }
