= render 'shared/error_messages', :object => @list

= form_for @list do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name, :class => 'title', :autofocus => true

  .actions
    = f.submit 'Submit', :id => 'ajax_button', :disable_with => 'Submitting...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif'

%br
