- if admin?
  = render 'sortable'

- if action_name == 'edit'
  - @listings = @list.listings

  %ul#sortable-list
    - @listings.each do |listing|
      %li{:class => 'handle', :id => dom_id(listing)}
        %strong.rank ##{listing.position}
        &nbsp;
        = link_to listing.movie.title, listing.movie
        = link_to 'Delete', [@list, listing],
          :confirm => CONFIRM,
          :method => :delete,
          :class => 'delete-link'

  = link_to 'Reorder!', reorder_item_list_path, :id => 'reorder-link', :class => 'btn btn-primary'
- else
  - cache(@list, :expires_in => 2.weeks) do
    - @listings = @list.listings

    %ol
      - @listings.each do |listing|
        %li{:id => dom_id(listing)}
          = link_to listing.movie.title, listing.movie
