- if admin?
  %script{:type => 'text/javascript', :src => '/javascripts/sortable.js'}

- smart_cache do
  - @listings = @list.listings

  %ul#movies
    - @listings.each do |listing|
      %li{:class => action_name == 'edit' ? 'handle' : nil, :id => dom_id(listing)}
        %span.rank ##{listing.position}
        = tiny_movie_poster_link listing.movie
        = link_to listing.movie.title, listing.movie, :class => 'movie_link'
        - if action_name == 'edit'
          = link_to 'Delete', [@list, listing], :confirm => CONFIRM, :method => :delete, :class => 'delete'

  - if action_name == 'edit'
    = link_to 'Reorder!', reorder_item_list_path, :id => 'reorder_link', :class => 'button'
