= render 'item_lists/edit/admin_controls'

= page_header do
  %h1
    = link_to 'Lists', item_lists_path

    %span.divider /

    = link_to @list.name, @list

    %span.divider /

    Edit

= render 'item_lists/edit/form'

%hr

.offset-sm-2.col-sm-10
  = render 'list'
