= render 'item_lists/edit/admin_controls'

.page-header
  %h1
    = link_to 'Lists', item_lists_path

    %span.divider /

    = link_to @list.name, @list

    %span.divider /

    Edit

= render 'item_lists/edit/form'

%hr

.col-sm-offset-2.col-sm-10
  = render 'list'
