- content_for :admin_controls do
  = link_to 'Edit', [:edit, @list], :class => 'button'
  = link_to 'Add Listing', new_item_list_listing_path(@list), :class => 'button'
  = link_to 'Delete', @list, :confirm => CONFIRM, :method => :delete, :class => 'button'

.page-header
  %h1
    = link_to 'Lists', item_lists_path
    %span.divider /
    = @list.name

- if @list.listings.empty?
  %p Sorry, this list is currently empty.
- else
  = render 'list'
