- content_for :admin_controls do
  = link_to 'Edit', [:edit, @list], :class => 'button'
  = link_to 'Add Listing', new_item_list_listing_path(@list), :class => 'button'
  = link_to 'Delete', @list, :confirm => CONFIRM, :method => :delete, :class => 'button'

%h2= @list.name

#movies_container
  - if @list.listings.empty?
    %p This list is currently empty.
  - else
    = render 'movie_list'
