.row#main-stats
  .col-sm-4
    = image_tag 'psh.jpg', id: 'psh', class: 'img-thumbnail w-100', alt: "I'm a fuckin' idiot...", title: "I'm a fuckin' idiot...", width: 330, height: 600

  .col-sm-8.pl-3.pl-sm-0.mt-3.mt-sm-0
    - cache 'main_stats', expires_in: 2.weeks do
      - class_names = 'list-group-item list-group-item-action text-primary'

      .list-group
        - %w[movies people].each do |type|
          = link_to send("#{type}_path"), class: class_names do
            = number_with_delimiter type.singularize.capitalize.constantize.count

            %span.text-dark
              = type

        = link_to movies_path, class: class_names do
          = number_with_delimiter (Movie.sum(:runtime) / 60.0).ceil

          %span.text-dark
            hours

        - %w[genres keywords languages countries].each do |type|
          = link_to send("#{type}_path"), class: class_names do
            = number_with_delimiter Tagging.where(context: type).distinct.count :tag_id

            %span.text-dark
              = type

        = link_to decades_path, class: class_names do
          = number_with_delimiter Movie.select('(year / 10 * 10) AS decade').group(:decade).length

          %span.text-dark
            decades

        = link_to years_path, class: class_names do
          = number_with_delimiter Movie.distinct.count(:year)

          %span.text-dark
            years
