#main-stats.row
  .col-sm-4
    = image_tag 'psh.jpg', id: 'psh', class: 'img-thumbnail w-100', alt: "I'm a fuckin' idiot...", title: "I'm a fuckin' idiot...", width: 330, height: 600

  .col-sm-8.pl-3.pl-sm-0.mt-3.mt-sm-0
    - cache 'main_stats', expires_in: 2.weeks do
      - class_names = 'list-group-item list-group-item-action text-primary'

      .list-group
        = link_to movies_path, class: class_names do
          = number_with_delimiter Movie.count

          %span.text-dark
            movies

        = link_to movies_path, class: class_names do
          = number_with_delimiter (Movie.sum(:runtime) / 60.0).ceil

          %span.text-dark
            hours

        = link_to people_path, class: class_names do
          = number_with_delimiter Person.count

          %span.text-dark
            people

        = link_to genres_path, class: class_names do
          = number_with_delimiter Tagging.select('DISTINCT tag_id').where(context: 'genres').count

          %span.text-dark
            genres

        = link_to keywords_path, class: class_names do
          = number_with_delimiter Tagging.select('DISTINCT tag_id').where(context: 'keywords').count

          %span.text-dark
            keywords

        = link_to languages_path, class: class_names do
          = number_with_delimiter Tagging.select('DISTINCT tag_id').where(context: 'languages').count

          %span.text-dark
            languages

        = link_to countries_path, class: class_names do
          = number_with_delimiter Tagging.select('DISTINCT tag_id').where(context: 'countries').count

          %span.text-dark
            countries

        = link_to decades_path, class: class_names do
          = number_with_delimiter Movie.select('(year / 10) || "0" AS decade').group(:decade).length

          %span.text-dark
            decades

        = link_to years_path, class: class_names do
          = number_with_delimiter Movie.select('year').uniq.length

          %span.text-dark
            years
