#main-stats
  = image_tag 'psh.jpg',
    :id => 'psh',
    :alt => "I'm a fuckin' idiot...",
    :title => "I'm a fuckin' idiot...",
    :width => 330,
    :height => 600

  - cache 'main_stats', :expires_in => 2.weeks do
    %h2
      = link_to movies_path do
        = number_with_delimiter Movie.count
        %span.black movies

    %h2
      = link_to movies_path do
        = number_with_delimiter (Movie.sum(:runtime) / 60.0).ceil
        %span.black hours

    %h2
      = link_to people_path do
        = number_with_delimiter Person.count
        %span.black people

    %br
    %br

    %h2
      = link_to genres_path do
        = number_with_delimiter Tagging.select('DISTINCT tag_id').where(:context => :genres).count
        %span.black genres

    %h2
      = link_to keywords_path do
        = number_with_delimiter Tagging.select('DISTINCT tag_id').where(:context => :keywords).count
        %span.black keywords

    %h2
      = link_to languages_path do
        = number_with_delimiter Tagging.select('DISTINCT tag_id').where(:context => :languages).count
        %span.black languages

    %h2
      = link_to countries_path do
        = number_with_delimiter Tagging.select('DISTINCT tag_id').where(:context => :countries).count
        %span.black countries

    %br
    %br

    %h2
      = link_to decades_path do
        = number_with_delimiter Movie.select('(year / 10) || "0" AS decade').group(:decade).length
        %span.black decades

    %h2
      = link_to years_path do
        = number_with_delimiter Movie.select('year').uniq.length
        %span.black years

.clear
