%h2 New credit for "#{@person.name}"

= render 'shared/error_messages', :object => @credit

= form_for [@person, @credit] do |f|
  = f.hidden_field :person_id, :value => @person.id

  .field
    = f.label :movie_id, 'Movie'
    %br
    - @movies = Movie.select([:id, :title]).order(:sort_title)
    = collection_select :credit, :movie_id, @movies, :id, :title, :include_blank => true

  .field
    = f.label :job
    %br
    = f.select :job, Credit::JOBS.keys, :include_blank => true

  .field
    = f.label :details
    %br
    = f.text_field :details

  .actions
    = f.submit 'Submit', :id => 'ajax_button', :disable_with => 'Submitting...'
    %span#ajax_button_indicator.hidden= image_tag 'ajax-bar.gif'
