- smart_cache do
  = render 'shared/page_entries_info', :results => @tags, :type => @type

  - unless @tags.total_count.zero?
    = paginate @tags, :remote => true

    %table{:id => @type}
      %tr
        %th= sort_link :name
        %th.numeric= sort_link :total
        %th.numeric= sort_link :average

      - @tags.each do |tag|
        %tr
          %td= tag_link tag, @type
          %td.numeric= tag.total
          %td.numeric= colorized_average tag

    = paginate @tags, :remote => true
