- smart_cache do
  = render 'shared/page_entries_info', results: @tags, type: @type

  - unless @tags.total_count.zero?
    %hr

    = paginate @tags, remote: true

    .table-responsive
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th{style: 'width: 15px;'}
              %strong #

            %th
              = sort_link :name

            %th{style: 'width: 70px;'}
              = sort_link :total

            %th{style: 'width: 90px;'}
              = sort_link :average

        %tbody
          - @tags.each_with_index do |tag, i|
            %tr
              %td
                = row_number i

              %td
                = tag_link tag, @type

              %td
                = tag.total

              %td
                = colorized_average tag

    = paginate @tags, remote: true
