- smart_cache do
  = render 'shared/page_entries_info', results: @tags, type: @type

  - unless @tags.total_count.zero?
    %hr

    = paginate @tags

    .table-responsive
      %table.table.table-bordered.table-hover
        %thead.thead-light
          %tr
            %th
              %strong #

            %th.w-100
              = sort_link :name

            %th.text-nowrap
              = sort_link :total

            %th.text-nowrap
              = sort_link :average

        %tbody
          - @tags.each_with_index do |tag, i|
            %tr
              %td
                = row_number i

              %td
                = tag_link tag, @type

              %td
                = number_with_delimiter tag.total

              %td
                = colorized_average tag

    = paginate @tags
