- smart_cache do
  - @keywords = @keywords.paginate(:page => page, :per_page => per_page)

  = render 'shared/page_entries_info', :results => @keywords, :type => 'keyword'

  - unless @keywords.empty?
    = will_paginate @keywords

    %table#keywords
      %tr
        %th= sort_link :name
        %th.numeric= sort_link :total
        %th.numeric= sort_link :average

      - @keywords.each do |keyword|
        %tr
          %td= keyword_link keyword
          %td.numeric= keyword.total
          %td.numeric= colorized_average keyword

    = will_paginate @keywords
