= render 'shared/error_messages', obj: @list

= form_with model: @list do |f|
  .form-group.row
    = f.label :name, class: 'col-form-label font-weight-bold text-right col-sm-2'

    .col-sm-10
      = f.text_field :name, autofocus: true, class: 'form-control'

  %hr

  .form-group.row
    .offset-sm-2.col-sm-10
      = f.submit 'Submit', class: 'btn btn-primary btn-lg'
