- smart_cache do
  = render 'shared/page_entries_info', :results => @decades, :type => 'decade'

  - unless @decades.total_count.zero?
    %table#decades
      %tr
        %th= sort_link :decade
        %th.numeric= sort_link :total
        %th.numeric= sort_link :average

      - @decades.each do |decade|
        %tr
          %td.main_cell= link_to decade.decade << 's', decade_path(decade.decade)
          %td.numeric= decade.total
          %td.numeric= colorized_average decade
