- content_for :search do
  = render 'shared/search_form', target: search_decades_path, type: 'decades'

= page_header do
  %h1
    = link_to 'Decades', decades_path

= render 'shared/search_filters', target: search_decades_path, type: 'decades'

#decades-container
  = render 'list'
