= link_to 'Movies', movies_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), stats_movies_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'People', people_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), stats_people_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Genres', genres_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), formatted_stats_genres_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Keywords', keywords_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), formatted_stats_keywords_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Languages', languages_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), formatted_stats_languages_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Countries', countries_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), formatted_stats_countries_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Decades', decades_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), stats_decades_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Years', years_path
= link_to image_tag('icons/chart-bar.png', :class => 'stats_icon', :width => 16, :height => 16), stats_years_path
&nbsp;&nbsp;&nbsp;&nbsp;

= link_to 'Lists', item_lists_path
