%header
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      = link_to 'MMDb', root_path, class: 'navbar-brand'

      %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target: '#navbarSupportedContent' }}
        %span.navbar-toggler-icon

      #navbarSupportedContent.navbar-collapse.collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item{class: active_nav_link?(:movies)}
            = link_to 'Movies', movies_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:people)}
            = link_to 'People', people_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:genres)}
            = link_to 'Genres', genres_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:keywords)}
            = link_to 'Keywords', keywords_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:languages)}
            = link_to 'Languages', languages_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:countries)}
            = link_to 'Countries', countries_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:decades)}
            = link_to 'Decades', decades_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:years)}
            = link_to 'Years', years_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:item_lists)}
            = link_to 'Lists', item_lists_path, class: 'nav-link'

        / - if content_for? :search
        /   = yield :search
        / - else
        /   = render 'shared/search_form', target: search_movies_path, type: 'movie'

        %ul#admin-dropdown.navbar-nav.d-none
          %li.nav-item.dropdown
            = link_to '#', class: 'nav-link dropdown-toggle admin-dropdown hidden', data: { toggle: 'dropdown' } do
              = icon :cog
              %b.caret

            .dropdown-menu
              = link_to new_movie_from_imdb_path, class: 'dropdown-item', rel: 'nofollow' do
                = icon 'plus-circle fw', class: 'text-success'
                Add Movie

              = link_to new_item_list_path, class: 'dropdown-item', rel: 'nofollow' do
                = icon 'plus-circle fw', class: 'text-success'
                Add List

              .dropdown-divider

              = link_to clear_cache_path, class: 'dropdown-item', method: 'delete', rel: 'nofollow', data: { confirm: CONFIRM } do
                = icon 'bolt fw', class: 'text-danger'
                Clear Cache

              .dropdown-divider

              = link_to logout_path, class: 'dropdown-item logout', method: 'delete', rel: 'nofollow', data: { confirm: CONFIRM } do
                = icon 'sign-out fw', class: 'text-primary'
                Logout

        = link_to 'Login', login_path, class: 'nav-link btn btn-primary btn-sm login', rel: 'nofollow'
