%header
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      = link_to 'MMDb', root_path, class: 'navbar-brand'

      %button.navbar-toggler{type: 'button', data: { toggle: 'collapse', target: '#navbarSupportedContent' }}
        %span.navbar-toggler-icon

      #navbarSupportedContent.navbar-collapse.collapse
        %ul.navbar-nav.mr-auto.d-block.d-md-none
          %li.nav-item{class: active_nav_link?(:movies)}
            = link_to 'Movies', movies_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:people)}
            = link_to 'People', people_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:genres)}
            = link_to 'Genres', genres_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:keywords)}
            = link_to 'Keywords', keywords_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:languages)}
            = link_to 'Languages', languages_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:countries)}
            = link_to 'Countries', countries_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:decades)}
            = link_to 'Decades', decades_path, class: 'nav-link'

          %li.nav-item{class: active_nav_link?(:years)}
            = link_to 'Years', years_path, class: 'nav-link'

        - if content_for? :search
          = yield :search
        - else
          = render 'shared/search_form', target: search_movies_path, type: 'movie'

        %ul#admin-dropdown.navbar-nav.d-none.ml-md-5.mt-2.mt-md-0.mb-2.mb-md-0
          %li.nav-item.dropdown
            = link_to '#', class: 'nav-link dropdown-toggle admin-dropdown hidden', data: { toggle: 'dropdown' } do
              = icon :cog
              %b.caret

            .dropdown-menu
              = link_to new_movie_from_imdb_path, class: 'dropdown-item', rel: 'nofollow' do
                = icon 'plus-circle fw', class: 'text-success'
                Add Movie

              .dropdown-divider

              = link_to clear_cache_path, class: 'dropdown-item', method: 'delete', rel: 'nofollow', data: { confirm: t(:confirm) } do
                = icon 'bolt fw', class: 'text-danger'
                Clear Cache

              .dropdown-divider

              = link_to logout_path, class: 'dropdown-item logout', method: 'delete', rel: 'nofollow', data: { confirm: t(:confirm) } do
                = icon 'sign-out fw', class: 'text-primary'
                Logout

        - unless controller_name == 'sessions'
          = link_to 'Login', login_path, class: 'nav-link btn btn-primary btn-sm ml-auto login mt-3 mt-md-0 ml-md-5 mb-2 mb-md-0', rel: 'nofollow', data: { toggle: 'modal', target: '#login-modal' }
