.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button', data: { toggle: 'collapse', target: '#navigation' }}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to 'MMDb', root_path, class: 'navbar-brand'

    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.admin-dropdown.hidden
          = link_to '#', class: 'dropdown-toggle admin-dropdown hidden', data: { toggle: 'dropdown' } do
            = icon :cog
            %b.caret

          %ul.dropdown-menu
            %li
              = link_to new_movie_from_imdb_path, rel: 'nofollow' do
                = icon 'plus-circle fw', class: 'text-success'
                Add Movie

            %li
              = link_to new_item_list_path, rel: 'nofollow' do
                = icon 'plus-circle fw', class: 'text-success'
                Add List

            %li.divider

            %li
              = link_to clear_cache_path, method: 'delete', rel: 'nofollow', data: { confirm: CONFIRM } do
                = icon 'bolt fw', class: 'text-danger'
                Clear Cache

            %li.divider

            %li
              = link_to logout_path, method: 'delete', class: 'logout', rel: 'nofollow' do
                = icon 'sign-out fw', class: 'text-primary'
                Logout

        %li
          = link_to 'Login', login_path, class: 'login', rel: 'nofollow'

      - if content_for? :search
        = yield :search
      - else
        = render 'shared/search_form', target: search_movies_path, type: 'movie'
