!!! 5
%html
  %head
    %title= @title.blank? ? 'MMDB' : "MMDB - #{@title}"
    = stylesheet_link_tag 'blueprint', 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #admin_wrapper
      #admin_bar
        - if admin?
          = link_to 'Add Movie', new_movie_from_imdb_path, :class => 'button left'
          #admin_controls
            = yield :admin_controls
          = link_to 'Logout', logout_path, :class => 'button right', :method => :delete
        - else
          = link_to 'Login', login_path, :class => 'button right'
        .clear

    .container
      .span-24
        %header
          %h1= link_to 'MMDB', stats_path
      .span-24
        %nav
          = link_to 'Movies', movies_path
          |
          = link_to 'People', people_path
      .span-24
        - flash.each do |kind, msg|
          = content_tag :div, :class => "flash #{kind}" do
            = msg
            %span.close X
        = yield
