!!! 5
%html
  %head
    %title= @title.blank? ? 'MMDb' : "MMDb - #{@title}"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = favicon_link_tag
    - if Rails.env.production?
      = render('shared/google_analytics').squish.html_safe
  %body
    #ajax_activity.hidden
      =# image_tag 'ajax-circle.gif', :width => 25, :height => 25

    #env{:class => Rails.env}

    = render('layouts/navigation').squish.html_safe

    .container
      = (yield).squish.html_safe

    - if false
      #admin_wrapper
        #admin_bar
          = render('layouts/admin_bar').squish.html_safe
          .clear

      .container
        .span-24
          %header
            =# random_quote
            %h1= link_to 'MMDb', root_path
        .span-24
          %nav
            = render('layouts/navigation').squish.html_safe
        .span-24.content
          - flash.each do |kind, msg|
            = content_tag :div, :class => "flash #{kind}" do
              = msg
              %span.close X
          = (yield).squish.html_safe
        .span-24
          %footer
            =# random_quote
            .copyright
              &copy; 2010-2012 James Wu
