!!! 5
%html
  %head
    %title Application Layout
    = stylesheet_link_tag 'blueprint', 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      %h1 MMDB
      - flash.each do |kind, msg|
        = content_tag :div, msg, :class => "flash #{kind}"
      #session_links
        = link_to('Login', login_path) unless admin?
        = link_to('Logout', logout_path) if admin?
      = yield
