!!! 5
%html
  %head
    %title= @title.blank? ? 'MMDb' : "MMDb - #{@title}"
    = stylesheet_link_tag 'blueprint', 'application', :cache => true
    = javascript_include_tag :defaults, :cache => true
    = csrf_meta_tag
  %body
    #ajax_activity.hidden
      = image_tag 'ajax-circle.gif'

    #admin_wrapper
      #admin_bar
        - if admin?
          = link_to 'Add Movie', new_movie_from_imdb_path, :class => 'button left'
          #admin_controls
            = yield :admin_controls
          = link_to 'Logout', logout_path, :class => 'button right', :method => :delete
        - else
          = link_to 'Login', login_path, :class => 'button right'
        .clear

    .container
      .span-24
        %header
          = random_quote
          %h1= link_to 'MMDb', root_path
      .span-24
        %nav
          = render 'layouts/navigation'
      .span-24.content
        - flash.each do |kind, msg|
          = content_tag :div, :class => "flash #{kind}" do
            = msg
            %span.close X
        = yield
      .span-24
        %footer
          = random_quote
