!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %meta{name: 'robots', content: 'noindex,nofollow'}

    %title
      = @title.blank? ? 'MMDb' : "MMDb - #{@title}"

    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application

    = csrf_meta_tags
    = favicon_link_tag

    - if Rails.env.production?
      = render 'shared/google_analytics'

  %body
    #env{class: Rails.env}

    = render 'layouts/navigation'

    #content.container
      .row
        .col-sm-2#sidebar
          = render 'layouts/sidebar_navigation'

        .col-sm-10#main-content
          = render 'shared/flashes'

          = yield

      = render 'layouts/footer'

    = render 'shared/admin_controls_loader'

    = render 'shared/login_modal'
