!!! 5
%html
  %head
    %title= @title.blank? ? 'MMDb' : "MMDb - #{@title}"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = favicon_link_tag
    - if Rails.env.production?
      = render('shared/google_analytics').squish.html_safe
  %body
    #ajax-activity.hidden
      = image_tag 'ajax-circle.gif', :width => 25, :height => 25

    #env{:class => Rails.env}

    = render('layouts/navigation').squish.html_safe

    .container
      = render('shared/flashes').squish.html_safe

      = (yield).squish.html_safe

      = render('shared/admin_controls_loader').squish.html_safe

      #footer
        &copy; 2010-2012 James Wu
