.panel.panel-default
  .panel-heading
    %h3.panel-title
      = job.pluralize.capitalize
      = "(#{count})"

  .table-responsive
    %table.table.table-bordered
      %tbody
        - @movie.send("sorted_#{credit_type}_credits").each do |credit|
          %tr
            %td
              = link_to credit.person.name, credit.person

            - if credit.details.present?
              %td
                = credit.details

            - if action_name == 'edit'
              %td.delete-cell
                = link_to [credit.person, credit], class: 'btn btn-danger btn-xs', title: 'Delete', method: 'delete', data: { confirm: CONFIRM } do
                  = icon 'trash-o'
