.table-responsive
  %table.table.table-bordered
    %thead.thead-light
      %tr
        %th.w-50
          = job.pluralize
          = "(#{count})"

        %th.w-50
          Credit

        - if action_name == 'edit'
          %th

    %tbody
      - @movie.send("sorted_#{credit_type}_credits").each do |credit|
        %tr
          %td
            = link_to credit.person.name, credit.person

          %td
            = credit.details.blank? ? '...' : credit.details

          - if action_name == 'edit'
            %td
              = link_to [credit.person, credit], class: 'btn btn-danger btn-sm', title: 'Delete', method: 'delete', data: { confirm: t(:confirm) } do
                = icon 'trash-o'
