.row
  .col-sm-4#original-movie-poster
    = link_to @movie.poster.url(:original), class: 'original-poster-link' do
      = image_tag @movie.poster.url(:large), class: 'large-poster img-thumbnail'

  .col-sm-8
    .rating.well{ class: movie_rating_class(@movie) }
      #{@movie.rating}/10

    = render 'movies/show/icons'

    = render 'movies/show/info'

    %hr

    .synopsis
      = simple_format @movie.synopsis
