.movie-header
  = link_to @movie.poster.url(:large), :class => 'thumbnail original-movie' do
    = image_tag @movie.poster.url(:large), :width => 300, :height => 440

  .rating.well{:class => movie_rating_class(@movie)}
    #{@movie.rating}/10

  = render 'movies/show/icons'

  = render 'movies/show/info'

  %hr

  .synopsis
    = simple_format @movie.synopsis

  .clear
