.panel.panel-default
  .panel-heading
    %h3.panel-title
      Keywords
      = "(#{number_with_delimiter @movie.keywords.count})"

  .panel-body
    = raw @movie.relevant_keywords.map { |keyword| tag_link keyword, :keyword }.join ' | '

    = ' | '

    %em
      = link_to 'More Keywords &raquo;'.html_safe, keywords_movie_path(@movie), class: 'text-success'
