- keywords = @movie.relevant_keywords
- count = @movie.keywords.count

.table-responsive
  %table.table.table-bordered
    %thead.thead-light
      %tr
        %th
          Keywords
          = "(#{number_with_delimiter count})"

    %tbody
      %tr
        %td
          - keywords.each do |keyword|
            - path = "/keywords/#{CGI::escape keyword.name}"
            = link_to keyword.name, path, class: 'badge badge-primary'

          - if count > 10
            = link_to 'More Keywords &raquo;'.html_safe, keywords_movie_path(@movie), class: 'badge badge-light font-italic text-success'
